@import '~@angular/material/prebuilt-themes/indigo-pink.css';


body {
    margin: 0px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



 @media print {
    .sidebar {
        display: none;
    }
    .home-section {
      left:0 !important;
    }
 }


