<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/CodingLabYT-->
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <!-- Boxiocns CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="sidebar close">

        <div class="logo-details">
            <div class="img-dash-container">
                <img  class="dash-logo bx-menu" src="favicon.ico"/>
            </div>
            <span class="logo_name">OneView</span>
                
        </div>
        <ul class="nav-links">
            

                        
            <li>
                <a routerLink="productos-default">
                    <i class='bx bx-grid-alt'></i>
                    <span class="link_name">Productos</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" routerLink="productos-default">Productos</a></li>
                </ul>
            </li>
            <li>
                <a routerLink="entry-mercancies">
                    <i class='bx bx-pie-chart-alt-2'></i>
                    <span class="link_name">Ent. Mercancia</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" routerLink="entry-mercancies">Entrada de Mercancia</a></li>
                </ul>
            </li>

            <li>
                <a href="#">
                    <i class='bx bx-history'></i>
                    <span class="link_name">Sal. Mercancia</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Salida de Mercancia</a></li>
                </ul>
            </li>
            <li>
                <div class="profile-details">
                    <div class="profile-content">
                        <!--<img src="image/profile.jpg" alt="profileImg">-->
                    </div>
                    <div class="name-job">
                        <div class="profile_name">Prem Shahi</div>
                        <div class="job">Web Desginer</div>
                    </div>
                    <i class='bx bx-log-out'></i>
                </div>
            </li>
        </ul>
    </div>
    <section class="home-section">
        <ng-content select=".content"></ng-content>
    </section>
</body>

</html>