.img-container {
    width: 212px;
    height: 146px;
}



.img-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: solid 2px black;
    object-position: center;
}

.header-product {
    display: flex;
    gap: 13px;
}




.info-prod {
    display: flex;
    align-items: center;
}
.subInv-totals tr td{ 
    text-align: center;
}

.header-table td {
    font-weight: bold;
}