
  <div class="modal fade" id="{{modalId}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered" [ngStyle]="{'min-width':modalWidth}">
      <div class="modal-content">
        <div class="modal-header ">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">{{ modalTitle}}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" [ngStyle]="{'height':modalHeight}">
          <ng-content select=".contenido-modal"></ng-content>
        </div>
        <div class="modal-footer" >
          <ng-content select=".botones-modal"></ng-content>
        </div>
      </div>
    </div>
  </div>