<label for="search" class="form-label">Proveedores</label>


<section class="search-wrapper">
    <input id="search"  [ngClass]="{'selected':optionSelected}" [formControl]="control" [(ngModel)]="searchData"[ngClass]="{'selected':optionSelected}" [formControl]="control" [(ngModel)]="searchData" class="form-control" (search)="clearSearch()" type="search">
    <ul class="auto-complete" *ngIf="!optionSelected">
        <li *ngFor="let provedor of filterProv | async"  (click)="selectOption(provedor)" >{{provedor.name}}</li>
    </ul>
</section>

